@{
    ViewData["Title"] = "Home Page";
}

<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img src="images/loading.gif" alt="#" /></div>
</div>
<!-- end loader -->
<!-- banner -->
<section class="banner_main">
    <div class="banner_opacity">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-7">
                    <div class="text-bg">
                        <h1>Bienvenido a la<br>Parroquia San Isidro Labrador</h1>
                        <span>Vázquez de Coronado</span>

                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="ban_img">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- end banner -->
<!-- service section -->
<div id="service" class="service">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="titlepage">
                    <h2><strong>AHORA</strong><br>El proceso es más sencillo</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pb-4 d-flex justify-content-center">
                <div class="card card-animation p-4 h-100" style="width: 25rem;">
                    <i class="d-flex justify-content-center"><img src="/images/Parroquia/biblia.png" class="card-img-top image-card" alt="#" /></i>
                    <div class="card-body">
                        <h2 class="card-title">Constancias</h2>
                        <p class="card-text">Ahora solicitar una constancia es más fácil. Solicite en línea su Constancia de Sacramentos. Recibirá una notificación cuando esta esté lista.</p>
                        <a href="#" class="btn btn-green mt-3">Solicitar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pb-4 d-flex justify-content-center">
                <div class="card card-animation p-4 h-100" style="width: 25rem;">
                    <i class="d-flex justify-content-center"><img src="/images/Parroquia/paloma.png" class="card-img-top image-card" alt="#" /></i>
                    <div class="card-body">
                        <h2 class="card-title">Catequesis</h2>
                        <p class="card-text">Inscribirse ahora es más sencillo.Realice desde su casa la inscripción para las Catequesis que ofrece nuestra Parroquia. Nuestra plataforma en línea permite subir los documentos necesarios</p>
                        <a href="#" class="btn btn-green mt-3">Inscribirme</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="business">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="titlepage">
                    <h2><strong >SOMOS</strong><br>Patrimonio</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @*<div class="col-md-3 col-sm-6">
                <div id="ho_color" class="business_box">
                    <i><img src="images/business_icon1.png" alt="#" /></i>
                    <h3>23</h3>
                    <p>NOMINATIONS </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div id="ho_color" class="business_box">
                    <i><img src="images/business_icon2.png" alt="#" /></i>
                    <h3>31</h3>
                    <p>AGENCIES</p>
                </div>
            </div>*@
            <div class="col-md-12 col-sm-12">
                <div id="ho_color" class="business_box">
                    <i><img src="/images/Parroquia/patentar.png"class="image-card" alt="#" /></i>
                    <h3 style="color: #0B5B4B;">Marzo de 2007</h3>
                    <p>Por ser una obra de arte y monumento histórico de las generaciones pasadas fue Declarado Patrimonio Arquitectónico</p>
                </div>
            </div>
            @*<div class="col-md-3 col-sm-6">
                <div id="ho_color" class="business_box">
                    <i><img src="images/business_icon4.png" alt="#" /></i>
                    <h3>8</h3>
                    <p>Supported </p>
                </div>
            </div>*@
            <div class="col-md-12">
                <a class="read_more" href="#">Leer más</a>
            </div>
        </div>
    </div>
</div>
<!-- end business  section -->
<!-- team  section -->
<div id="team" class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2><strong>EQUIPO SACERDOTAL</strong><br>Sacerdotes designados en nuestra parroquia</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="py-5 team4">
  <div class="container">
    <div class="row">
      <!-- column  -->
      <div class="col-lg-4 mb-4">
        <!-- Row -->
        <div class="row">
                                <div class="col-md-12 d-flex justify-content-center">
            <img src="/images/Parroquia/sacerdote1.png" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Pbro. Carlos Manuel Jiménez Picado</h5>
              <h6 class="subtitle mb-3">Cura Párroco</h6>
              <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-envelope"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-4 mb-4">
        <!-- Row -->
        <div class="row">
                                <div class="col-md-12 d-flex justify-content-center">
            <img src="/images/Parroquia/sacerdote2.png" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Pbro. José Joaquín Solano Ramírez</h5>
              <h6 class="subtitle mb-3">Vicario Parroquial</h6>
              <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-envelope"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-4 mb-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <img src="/images/Parroquia/sacerdote3.png" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Pbro. José Alberto Alfaro</h5>
              <h6 class="subtitle mb-3">Vicario Parroquial</h6>
              <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-envelope"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
    </div>
  </div>
</div>
        </div>
    </div>
</div>
<!-- end team  section -->
<!-- testimonial -->
<div id="client" class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2><strong class="yellow">testimonial</strong><br>What is Syas our clients</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="testimo" class="carousel slide testimonial_Carousel " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#testimo" data-slide-to="0" class="active"></li>
            <li data-target="#testimo" data-slide-to="1"></li>
            <li data-target="#testimo" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="carousel-caption ">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="test_box">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                                    <i><img src="images/cos.jpg" alt="#" /></i> <span>Consectetur</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="test_box">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                                    <i><img src="images/cos.jpg" alt="#" /></i> <span>Consectetur</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="test_box">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                                    <i><img src="images/cos.jpg" alt="#" /></i> <span>Consectetur</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#testimo" role="button" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#testimo" role="button" data-slide="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
</div>
<!-- end testimonial -->
<!-- contact  section -->
<div id="contact" class="contact ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2><strong class="yellow">Contact us</strong><br>Request a call back</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form id="post_form" class="contact_form">
                    <div class="row">
                        <div class="col-md-12 ">
                            <input class="contact_control" placeholder=" Name" type="type" name="Name">
                        </div>
                        <div class="col-md-12">
                            <input class="contact_control" placeholder="Email" type="type" name="Email">
                        </div>
                        <div class="col-md-12">
                            <input class="contact_control" placeholder="Phone Number " type="type" name="Phone Number ">
                        </div>
                        <div class="col-md-12">
                            <textarea class="textarea" placeholder="Message" type="type" Message="Name">Message </textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn">Send</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
   </div>
<!-- end contact  section -->
<!--  footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a class="logo2" href="#"><img src="images/loogo2.png" alt="#" /></a>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <h3>Contact Us</h3>
                    <ul class="location_icon">
                        <li>
                            <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a> London 145
                            <br> United Kingdom
                        </li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>demo@gmail.com<br> demo@gmail.com</li>
                        <li><a href="#"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a>+01 1234567890<br>+01 1234567889</li>
                    </ul>
                    <ul class="social_icon">
                        <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li> <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <h3>Menus</h3>
                    <ul class="link_icon">
                        <li class="active"> <a href="index.html"> Home</a></li>
                        <li>
                            <a href="about.html">
                                </i>About Us
                        </li>
                        <li> <a href="service.html"> </i>Services</a></li>
                        <li> <a href="team.html"></i>Team</a></li>
                        <li> <a href="client.html"></i>Clients</a></li>
                        <li> <a href="contact.html"></i>Contact us</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <h3>Recent Post</h3>
                    <ul class="link_icon">
                        <li> <a href="#"> Participate in staff </a></li>
                        <li>
                            <a href="#">
                                meetings manage
                        </li>
                        <li> <a href="#"> dedicated to </a></li>
                        <li> <a href="#"> marketing</a></li>
                        <li> <a href="#"> November 25, 2019</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <h3>Newsletter</h3>
                    <form id="request" class="main_form">
                        <div class="row">
                            <div class="col-md-12 ">
                                <input class="news" placeholder="Your Email" type="type" name="Your Email">
                            </div>
                            <div class="col-md-12">
                                <button class="send_btn">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>© 2019 All Rights Reserved.<a href="https://html.design/"> Free html Templates</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
